<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Site</servlet-name>
        <servlet-class>controller.Site</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Site</servlet-name>
        <url-pattern>/Site</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Province</servlet-name>
        <servlet-class>controller.Province</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Province</servlet-name>
        <url-pattern>/Province</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>City</servlet-name>
        <servlet-class>controller.City</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>City</servlet-name>
        <url-pattern>/City</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>District</servlet-name>
        <servlet-class>controller.District</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>District</servlet-name>
        <url-pattern>/District</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Village</servlet-name>
        <servlet-class>controller.Village</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Village</servlet-name>
        <url-pattern>/Village</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
